@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.section__sacarTurno, main .banner {
  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  text-align: center; }

@media only screen and (min-width: 992px) {
  .header .navbar .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header .navbar .navbar-nav .nav-link {
    margin-left: 1rem; }
  .header .navbar .navbar-nav {
    margin-left: 2rem; }
  .header .navbar .navbar-nav .nav-link {
    margin: 0; } }

@media only screen and (max-width: 1230px) and (min-width: 993px) {
  .navbar .nav-item .nav-link {
    margin-right: -2.4rem;
    font-size: 1.2rem; } }

@media only screen and (min-width: 1200px) {
  .header .navbar .logo {
    margin-left: 0; } }

@media only screen and (min-width: 768px) {
  .section h1 {
    font-size: 4rem;
    line-height: 4rem; }
  .nav-item {
    margin: 1.6rem; }
  .header .navbar .logo {
    padding: 1rem 0; } }

@media only screen and (min-width: 1400px) {
  .section h1 {
    font-size: 5rem;
    line-height: 5rem; } }

@media only screen and (max-width: 767px) {
  .nav-item {
    margin: 1.2rem; }
  .section__sacarTurno {
    margin: 0;
    background-color: #52734D; }
  .banner.container {
    padding-bottom: 0; }
  .banner__title.row {
    font-size: 1.7rem; } }

@media (max-width: 800px) {
  .column {
    flex: 50%; } }

@media (max-width: 600px) {
  .column {
    flex: 100%; } }

.SportsToledo__span {
  color: #52734D;
  font-weight: 600; }

.Futbol11__span {
  color: #52734D;
  font-weight: 600; }

.Futbol7__span {
  color: #52734D;
  font-weight: 600; }

.Futbol5__span {
  color: #52734D;
  font-weight: 600; }

.header {
  background-color: #91C788; }
  .header .navbar {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    transition: 0.9s; }
    .header .navbar .navbar-nav {
      margin-left: 1rem; }
      .header .navbar .navbar-nav .nav-link {
        color: #FEFFDE;
        transition: all 0.3s ease; }
      .header .navbar .navbar-nav .nav-item {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 2rem;
        position: relative; }
        .header .navbar .navbar-nav .nav-item .nav-link {
          position: relative; }
          .header .navbar .navbar-nav .nav-item .nav-link::after {
            content: "";
            width: 0;
            height: 4px;
            background-color: #f9faec;
            position: absolute;
            bottom: -5px;
            right: 50%;
            transition: all .5s;
            will-change: width; }
          .header .navbar .navbar-nav .nav-item .nav-link:hover::after {
            width: 100%;
            right: 0; }

footer {
  background-color: #52734D;
  text-align: center; }
  footer p {
    color: #FEFFDE;
    display: flex;
    justify-content: center; }
  footer .logo2 {
    width: 80%; }
  footer .calle {
    text-decoration: none;
    color: #FEFFDE;
    font-size: 1.2rem; }
    footer .calle:hover {
      color: white; }

/*Links de Iconos*/
.fa-map-marker-alt {
  color: #FEFFDE;
  font-size: 2.1rem;
  padding: 1.2rem; }

.fa-facebook-square {
  color: #FEFFDE;
  font-size: 2.4rem;
  padding: 0.6rem; }

.fa-instagram {
  color: #FEFFDE;
  font-size: 2.4rem;
  padding: 0.6rem; }

.fa-youtube {
  color: #FEFFDE;
  font-size: 2.4rem;
  padding: 0.6rem; }

#separator {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-bottom: 3.5rem; }
  #separator .content {
    background-color: #DDFFBC;
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; }
  #separator .bn {
    margin-top: 1rem;
    font-weight: 600;
    color: #52734D; }

.section__sacarTurno {
  background-image: url("../recursos/preFooter.jpg");
  background-position: center;
  padding: 4rem; }
  .section__sacarTurno h2 {
    font-weight: 600; }

.sacarTurno__title {
  color: #FEFFDE;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.2rem; }

.galeriaHome {
  text-align: center; }
  .galeriaHome .sectionBody {
    display: grid;
    grid-template-rows: repeat(10, 0.5fr);
    gap: 0.6rem; }
    @media only screen and (min-width: 576px) {
      .galeriaHome .sectionBody {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr; } }
    @media only screen and (min-width: 768px) {
      .galeriaHome .sectionBody {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 0.5fr); }
        .galeriaHome .sectionBody div:nth-child(1) {
          grid-column-end: span 2; }
        .galeriaHome .sectionBody div:nth-child(7) {
          grid-column-end: span 2; } }
    @media only screen and (min-width: 992px) {
      .galeriaHome .sectionBody {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 0.5fr); }
        .galeriaHome .sectionBody div:nth-child(1) {
          grid-column-end: span 2; }
        .galeriaHome .sectionBody div:nth-child(7) {
          grid-column-end: unset; }
        .galeriaHome .sectionBody div:nth-child(10) {
          grid-column-end: span 2; } }
    @media only screen and (min-width: 1400px) {
      .galeriaHome .sectionBody {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: unset; }
        .galeriaHome .sectionBody div:nth-child(1) {
          grid-column-end: span 2;
          grid-row-end: span 2; }
        .galeriaHome .sectionBody div:nth-child(4) {
          grid-row-end: span 2; }
        .galeriaHome .sectionBody div:nth-child(5) {
          grid-row-end: span 2; }
        .galeriaHome .sectionBody div:nth-child(7) {
          grid-column-end: unset; }
        .galeriaHome .sectionBody div:nth-child(10) {
          grid-column-end: unset; } }

.section {
  padding: 5rem 0; }
  .section h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 768px) {
      .section h2 {
        font-size: 4rem;
        line-height: 4rem; } }
    @media only screen and (min-width: 1400px) {
      .section h2 {
        font-size: 3.7rem;
        line-height: 4rem;
        text-align: center; } }
  .section p:not(:last-child) {
    margin-bottom: 1rem; }
  .section .sectionHead {
    margin: 0 2rem 5rem 2rem; }

.section-hero {
  min-height: calc(100vh - 125px);
  display: grid; }
  @media only screen and (min-width: 1200px) {
    .section-hero .sectionHead {
      margin: 0 2rem 0 2rem; } }
  @media only screen and (min-width: 1400px) {
    .section-hero {
      align-items: center; } }

@media only screen and (min-width: 1200px) {
  .section-hero-right {
    grid-template-columns: 4fr 2fr; }
    .section-hero-right .sectionHead {
      grid-column: 2;
      grid-row: 1; }
    .section-hero-right .sectionBody {
      grid-column: 1;
      grid-row: 1; } }

@media only screen and (min-width: 1400px) {
  .section-hero-right {
    grid-template-columns: 2fr 1fr;
    padding-top: 0%; } }

.imgGaleria {
  display: block;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(197, 200, 198, 0.5), 0 6px 20px 0 rgba(209, 221, 212, 0.5);
  position: relative;
  background-color: #000000; }
  .imgGaleria span,
  .imgGaleria img {
    transition: all 0.3s ease; }
  .imgGaleria span {
    position: absolute;
    z-index: 1;
    bottom: -2rem;
    right: 50%;
    transform: translateX(50%);
    background-color: #252525;
    color: #FDF6E3;
    padding: 0 0.8rem;
    border-radius: 1rem;
    white-space: nowrap; }
  .imgGaleria img {
    display: block;
    width: 100%;
    object-fit: cover;
    transform: translateY(-25%) scale(1.5); }
    @media only screen and (min-width: 576px) {
      .imgGaleria img {
        height: 100%;
        object-fit: cover;
        transform: translateY(0) scale(1.5); } }
  .imgGaleria:hover span {
    bottom: 1rem; }
  .imgGaleria:hover img {
    opacity: 1;
    transform: translateY(-25%) scale(1); }
    @media only screen and (min-width: 576px) {
      .imgGaleria:hover img {
        transform: translateY(0) scale(1); } }

.section-hero-left {
  padding: 5rem 0 0 0; }
  @media only screen and (min-width: 1200px) {
    .section-hero-left {
      padding: 3.5rem 0;
      padding-bottom: 0%;
      grid-template-columns: 2fr 4fr; }
      .section-hero-left .sectionHead {
        text-align: center; } }
  @media only screen and (min-width: 1400px) {
    .section-hero-left {
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0%; } }
  @media only screen and (min-width: 1401px) {
    .section-hero-left {
      padding: 0rem 0;
      padding-bottom: 0%; } }

.section__Escuela {
  text-align: center; }

main p {
  text-align: justify;
  font-size: 1.2rem;
  color: #000;
  margin: 1.5rem auto;
  width: 80%; }

main .banner {
  background-image: url("../recursos/predio01.jpg");
  border-radius: 0.5rem;
  padding: 8rem;
  margin: 1.5rem auto; }
  main .banner .banner__title {
    color: #FEFFDE;
    font-size: 2rem;
    letter-spacing: 0.2rem; }

main h2 {
  text-align: justify;
  color: #000;
  margin: 1.5rem auto;
  width: 80%; }

main .container {
  text-align: center; }
  main .container .container__title {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.5rem;
    text-align: center; }
  main .container .container__img {
    width: 25%;
    margin: 0.5rem;
    border-radius: 15px;
    background: #FEFFDE;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    margin-bottom: 2rem; }
    main .container .container__img:hover {
      transform: scale(0.95); }

main .h1__principal {
  font-size: 2rem;
  text-align: justify;
  margin: 1.5rem auto;
  width: 80%; }

main .h2__torneos {
  font-size: 1.6rem; }

main table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #b5b5b5;
  background-color: white;
  text-align: left;
  overflow: hidden; }
  main table thead {
    box-shadow: 0 5px 10px #b5b5b5;
    background-color: #52734D; }
    main table thead tr th {
      color: #FEFFDE;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 600; }
    main table thead tr:nth-child(even) {
      background-color: #f5f4f4; }

main .sectionCards {
  margin-bottom: 1.7rem; }
  main .sectionCards h3 {
    margin: 2rem; }
  main .sectionCards .card {
    align-items: center;
    background-color: #DDFFBC;
    margin: auto;
    transition: transform 0.5s; }
    main .sectionCards .card:hover {
      transform: translateY(-10px); }
    main .sectionCards .card .card-title {
      font-weight: 600;
      margin-bottom: 0; }
    main .sectionCards .card .card-text {
      font-size: 1rem;
      text-align: center; }

.galeria__section h1 {
  font-size: 2rem;
  margin: 1rem; }

.galeria__section .row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }
  .galeria__section .row .column {
    flex: 25%;
    padding: 5px; }
    .galeria__section .row .column img {
      margin-top: 8px; }
    .galeria__section .row .column .imgGaleria {
      width: 100%; }

.formContainer {
  background-color: #52734D;
  width: 80%;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 12px 12px 43px #b5b5b5; }
  .formContainer .formContainer__title,
  .formContainer .formContainer__p {
    color: #FEFFDE;
    margin: 0.5rem;
    margin-bottom: 1rem;
    width: auto; }
  .formContainer .formContainer__title {
    font-size: 1.8rem;
    font-weight: 600; }
  .formContainer .formContainer__p {
    text-align: center; }
    .formContainer .formContainer__p .nosotros__span {
      font-weight: 600; }
  .formContainer .form {
    text-align: center; }
    .formContainer .form .form__label {
      color: #FEFFDE;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: left;
      display: inline-block;
      width: 60%; }
    .formContainer .form .form__input,
    .formContainer .form .form__textarea {
      width: 60%;
      margin: 0.5rem;
      padding: 0.5rem;
      border: 2px solid #FEFFDE;
      border-radius: 5px;
      outline: none;
      resize: none;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      background-color: #FEFFDE; }
    .formContainer .form .form__check__input {
      height: 1.5rem;
      width: 1.5rem; }
    .formContainer .form .form__check__label {
      padding-top: 5px;
      margin-left: 10px;
      color: #FEFFDE;
      font-weight: 300;
      font-size: 1.1rem; }
    .formContainer .form .form__input--submit {
      background-color: #FEFFDE;
      margin-top: 1, 5rem;
      border-radius: 0.3rem;
      font-weight: 600;
      cursor: pointer; }
      .formContainer .form .form__input--submit:hover {
        background-color: #DDFFBC;
        color: #000; }
  .formContainer .map {
    margin-top: 2rem;
    width: 100%;
    height: 20rem;
    border-radius: 5px; }

button {
  padding: 1.3em 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  background-color: #FEFFDE;
  border: 1px solid #dfdfdf;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }

button:hover {
  background-color: #52734D;
  box-shadow: 0px 15px 20px rgba(62, 124, 99, 0.4);
  color: #fff;
  transform: translateY(-7px); }

button:active {
  transform: translateY(-1px); }

body {
  font-family: "Poppins", sans-serif;
  background-color: #FEFFDE; }
