//COLORES
$color__fondo--principal: #FEFFDE;
$color__claro--principal: #DDFFBC;
$color__claro--secundario: #91C788;
$color__oscuro--primario: #52734D;
$color__texto: #000;

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

$sans-serif: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

$font-header: 'Exo 2', sans-serif;

//EXTEND

%estiloFondoImagen {
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    text-align: center;
}