//COLORES
$color__fondo--principal: #FEFFDE;
$color__claro--principal: #DDFFBC;
$color__claro--secundario: #91C788;
$color__oscuro--primario: #52734D;
$color__texto: #000;

$negro: #000000;
$blanco: #ffffff;
$gris: #98adaf;
$cyan: #82ABC9;
$dark: #252525;
$light: #FDF6E3;

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

$sans-serif: 'Poppins',
sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

$font-header: 'Exo 2',
sans-serif;

//EXTEND

%estiloFondoImagen {
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    text-align: center;
}

// Transition

$transition: all 0.3s ease;
$transition-slow: all 0.8s ease;

// Sombras

$shadow: 0 4px 8px 0 rgba(197, 200, 198, 0.5),
0 6px 20px 0 rgba(209, 221, 212, 0.5);