footer {
    background-color: $color__oscuro--primario;
    text-align: center;

    p {
        color: $color__fondo--principal;
        display: flex;
        justify-content: center;
    }

    .logo2 {
        width: 80%;
    }

    .calle {
        text-decoration: none;
        color: $color__fondo--principal;
        font-size: 1.2rem;

        &:hover {
            color: white;
        }
    }
}

/*Links de Iconos*/
.fa-map-marker-alt{ 
    @include iconos (2.1rem, 1.2rem)
}
.fa-facebook-square{
    @include iconos (2.4rem, 0.6rem)
}
.fa-instagram{
    @include iconos (2.4rem, 0.6rem)
}
.fa-youtube{
    @include iconos (2.4rem, 0.6rem)
}