#separator {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-bottom: 3.5rem;

    .content {
        background-color: $color__claro--principal;
        width: 150%;
        height: 150px;
        margin-left: -25%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .bn {
        margin-top: 1rem;
        font-weight: 600;
        color: $color__oscuro--primario;
    }
}

.section__sacarTurno {
    background-image: url('../recursos/preFooter.jpg');
    background-position: center;
    padding: 4rem;
    @extend %estiloFondoImagen;

    h2 {
        font-weight: 600;
    }
}

.sacarTurno__title {
    color: $color__fondo--principal;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
}

.galeriaHome{
    text-align: center;

    .sectionBody {
        display: grid;
        grid-template-rows: repeat(10, 0.5fr);
        gap: 0.6rem;

        @include respond(sm){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
    
        @include respond(md) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 0.5fr);
    
            div:nth-child(1) {
                grid-column-end: span 2;
            }
    
            div:nth-child(7) {
                grid-column-end: span 2;
            }
        }
    
        @include respond(lg) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 0.5fr);
    
            div:nth-child(1) {
                grid-column-end: span 2;
            }
    
            div:nth-child(7) {
                grid-column-end: unset;
            }
    
            div:nth-child(10) {
                grid-column-end: span 2;
            }
        }

        @include respond(xxl) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: unset;
    
            div:nth-child(1) {
                grid-column-end: span 2;
                grid-row-end: span 2;
            }
    
            div:nth-child(4) {
                grid-row-end: span 2;
            }
    
            div:nth-child(5) {
                grid-row-end: span 2;
            }
    
            div:nth-child(7) {
                grid-column-end: unset;
            }
    
            div:nth-child(10) {
                grid-column-end: unset;
            }
        }
    }
}


.section {
    padding: 5rem 0;

    h2 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;

        @include respond(md) {
            font-size: 4rem;
            line-height: 4rem;
        }

        @include respond(xxl) {
            font-size: 3.7rem;
            line-height: 4rem;
            text-align: center;
        }
    }

    p:not(:last-child){
        margin-bottom: 1rem;
    }

    .sectionHead {
        margin:0 2rem 5rem 2rem;
    }
}

.section-hero {
    min-height: calc(100vh - 125px);
    display: grid;

    @include respond(xl) {
        
        .sectionHead {
            margin:0 2rem 0 2rem;
        }
    }
    @include respond(xxl){
        align-items: center;
    }
}

.section-hero-right{
    @include respond(xl){
        grid-template-columns: 4fr 2fr;
        .sectionHead{
            grid-column: 2;
            grid-row: 1;
        }
        .sectionBody{
            grid-column: 1;
            grid-row: 1;
        }
    }
    @include respond(xxl){
        grid-template-columns: 2fr 1fr;
        padding-top: 0%;
    }
}

.imgGaleria {
    display: block;
    overflow: hidden;
    box-shadow: $shadow;
    position: relative;
    background-color: $negro;

    span,
    img {
        transition: $transition;
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: -2rem;
        right: 50%;
        transform: translateX(50%);
        background-color: $dark;
        color: $light;
        padding: 0 0.8rem;
        border-radius: 1rem;
        white-space: nowrap;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        transform: translateY(-25%) scale(1.5);
        @include respond(sm) {
            height: 100%;
            object-fit: cover;
            transform: translateY(0) scale(1.5);
        }
    }

    &:hover span {
        bottom: 1rem;
    }

    &:hover img {
        opacity: 1;
        transform: translateY(-25%) scale(1);

        @include respond(sm) {
            transform: translateY(0) scale(1);
        }
    }
}

.section-hero-left{
    padding: 5rem 0 0 0;
    @include respond(xl){
        padding: 3.5rem 0;
        padding-bottom: 0%;
        grid-template-columns: 2fr 4fr;
        .sectionHead{
            text-align: center;
        }
    }
    @include respond(xxl){
        grid-template-columns: 1fr 2fr;
        padding-bottom: 0%;
    }
    @include respond(full){
        padding: 0rem 0;
        padding-bottom: 0%;
    }
}

.section__Escuela{
    text-align: center;
}