button {
    padding: 1.3em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #FEFFDE;
    border: 1px solid #dfdfdf;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #52734D;
        box-shadow: 0px 15px 20px rgba(62, 124, 99, 0.4);
        color: #fff;
        transform: translateY(-7px);

        &:active {
            transform: translateY(-1px);
        }
    }
}